{:hooks {:analyze-call {tailrecursion.chasma.clos/defgeneric
                          hooks.tailrecursion.chasma.clos/defgeneric,
                        tailrecursion.chasma.clos/defmethod
                          hooks.tailrecursion.chasma.clos/defmethod}},
 :linters
   {:aliased-referred-var {:level :warning},
    :condition-always-true {:level :warning},
    :discouraged-var
      {clojure.core/set!
         {:level :error,
          :message
            "Do not use top-level set! for compiler vars; enforce reflection through lint/tooling."}},
    :docstring-leading-trailing-whitespace {:level :warning},
    :docstring-no-summary {:level :warning},
    :equals-false {:level :warning},
    :equals-float {:level :warning},
    :equals-nil {:level :warning},
    :equals-true {:level :warning},
    :if-nil-return {:level :warning},
    :if-x-x-y {:level :warning},
    :keyword-binding {:level :warning},
    :not-nil? {:level :warning},
    :redundant-call {:level :warning},
    :redundant-fn-wrapper {:level :warning},
    :redundant-let-binding {:level :warning},
    :redundant-nested-call {:level :warning},
    :redundant-primitive-coercion {:level :warning},
    :redundant-str-call {:level :warning},
    :shadowed-var {:exclude [class counter key methods name new supers universe
                             var],
                   :level :warning},
    :single-key-in {:level :warning},
    :unsorted-imports {:level :warning},
    :unsorted-required-namespaces {:level :warning},
    :unused-alias {:level :warning},
    :used-underscored-binding {:level :warning},
    :warn-on-reflection {:level :off}}}
